flows.json
[
    {
        "id": "8e6f93d6c1999015",
        "type": "tab",
        "label": "Vakuumpumpen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "61d663c65d5d04a2",
        "type": "tab",
        "label": "WP1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb52c966d2fad605",
        "type": "tab",
        "label": "WP2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f820c1bd7223bd88",
        "type": "tab",
        "label": "WP3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28c240172645bd4e",
        "type": "tab",
        "label": "WP4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe54917cf124892f",
        "type": "tab",
        "label": "File browser",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0434627783d5f543",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f7a1f209ffd4d33",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#007f7f",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#007f7f",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#007f7f",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#00cbcb",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#007f7f",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "OVUM",
            "hideToolbar": "false",
            "allowSwipe": "mouse",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "58c2aa06.ef46e4",
        "type": "ui_tab",
        "name": "Vakuumstand",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "db5ac7bc58fb5462",
        "type": "ui_tab",
        "name": "Files",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1591b6c7b8497e57",
        "type": "ui_group",
        "name": "WP1",
        "tab": "58c2aa06.ef46e4",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de078532d6f5e387",
        "type": "ui_group",
        "name": "WP2",
        "tab": "58c2aa06.ef46e4",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "422ba1667a7ab9f8",
        "type": "ui_group",
        "name": "WP3",
        "tab": "58c2aa06.ef46e4",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f31df9e398e4c15e",
        "type": "ui_group",
        "name": "WP4",
        "tab": "58c2aa06.ef46e4",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a53d8deeea11707a",
        "type": "ui_group",
        "name": "VP1",
        "tab": "58c2aa06.ef46e4",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5adbafdcfcc90c64",
        "type": "ui_group",
        "name": "VP2",
        "tab": "58c2aa06.ef46e4",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7c3d1ffe5de85af4",
        "type": "ui_group",
        "name": "File Browser",
        "tab": "db5ac7bc58fb5462",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9eaf4515438b94a",
        "type": "ui_group",
        "name": "File Preview",
        "tab": "db5ac7bc58fb5462",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef6702f2eebd5bef",
        "type": "cmi config",
        "description": "TA C.M.I.",
        "ip": "192.168.45.55",
        "canNode": "1",
        "interval": "2"
    },
    {
        "id": "ba51c7e6bf23486c",
        "type": "modbus-client",
        "name": "CMI Modbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.45.55",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "56",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "174db71a85fd3665",
        "type": "git-nodes-config",
        "name": "Repo1",
        "git": "https://github.com/ggodlob/Repo1.git"
    },
    {
        "id": "eeb221fb.ab27f",
        "type": "influxdb",
        "hostname": "192.168.45.58",
        "port": "8086",
        "protocol": "http",
        "database": "test",
        "name": "test",
        "usetls": true,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "2ac8e3fa.8b8584",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c678f9c6.9694b8",
        "type": "ui_group",
        "name": "Test1",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "781d599033b227b9",
        "type": "ui_group",
        "name": "VP3",
        "tab": "58c2aa06.ef46e4",
        "order": 7,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c1c3c6b12dccd791",
        "type": "ui_group",
        "name": "VP4",
        "tab": "58c2aa06.ef46e4",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4b87de5b15c38c06",
        "type": "ui_group",
        "name": "Chart",
        "tab": "db5ac7bc58fb5462",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d4646b0db2f1313",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "a53d8deeea11707a",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temp 1",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "4792b5d5ea1aed4f",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "a53d8deeea11707a",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Temp 2",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "0bbb900fda5f8a90",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "5adbafdcfcc90c64",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temp 3",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "b29637cc286b1e69",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "5adbafdcfcc90c64",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temp 4",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "eaee38cd727c1251",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "781d599033b227b9",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temp 5",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 700,
        "wires": []
    },
    {
        "id": "12972f49c15be411",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "781d599033b227b9",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temp 6",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "6fa0c3400be1c116",
        "type": "ui_text",
        "z": "8e6f93d6c1999015",
        "group": "5adbafdcfcc90c64",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Magnetventil 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e546ec86a098a36",
        "type": "ui_text",
        "z": "8e6f93d6c1999015",
        "group": "a53d8deeea11707a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Magnetventil 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "34e4382fd48aae50",
        "type": "ui_text",
        "z": "8e6f93d6c1999015",
        "group": "781d599033b227b9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Magnetventil 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "b88c8f75645447d7",
        "type": "ui_chart",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "5adbafdcfcc90c64",
        "order": 1,
        "width": 6,
        "height": 3,
        "label": "Vakuumpumpe 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "65876a0943268809",
        "type": "ui_chart",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "781d599033b227b9",
        "order": 1,
        "width": "7",
        "height": "3",
        "label": "Vakuumpumpe 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ad726035dfa06db6",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 1",
        "item": "9",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "2d4646b0db2f1313"
            ]
        ]
    },
    {
        "id": "de12cbaa5501373f",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 2",
        "item": "10",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "4792b5d5ea1aed4f"
            ]
        ]
    },
    {
        "id": "89be54a0f9f4c0fb",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 3",
        "item": "11",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "0bbb900fda5f8a90"
            ]
        ]
    },
    {
        "id": "f0567c3deaf9dca0",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 4",
        "item": "12",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "b29637cc286b1e69"
            ]
        ]
    },
    {
        "id": "b0bd15f59e1c429c",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 5",
        "item": "13",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "eaee38cd727c1251"
            ]
        ]
    },
    {
        "id": "d890a15763d9dda8",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 6",
        "item": "14",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "12972f49c15be411"
            ]
        ]
    },
    {
        "id": "2c5c58ab31243918",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Magnetventil 1",
        "item": "1",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "3e546ec86a098a36"
            ]
        ]
    },
    {
        "id": "efd959b4e4661483",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Magnetventil 2",
        "item": "4",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "6fa0c3400be1c116"
            ]
        ]
    },
    {
        "id": "9398100a3c56d871",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Magnetventil 3",
        "item": "7",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "34e4382fd48aae50"
            ]
        ]
    },
    {
        "id": "02239ec65fc616be",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 1",
        "item": "1",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "fce49c478cef3616"
            ]
        ]
    },
    {
        "id": "fce49c478cef3616",
        "type": "ui_chart",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "a53d8deeea11707a",
        "order": 1,
        "width": 6,
        "height": 3,
        "label": "Vakuumpumpe 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e2976faf21ef3429",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 3",
        "item": "3",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "b88c8f75645447d7"
            ]
        ]
    },
    {
        "id": "30e635d19735dd29",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 5",
        "item": "5",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "65876a0943268809"
            ]
        ]
    },
    {
        "id": "4c5831159efa3864",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 7",
        "item": "7",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "2a36a20d7b83ed69"
            ]
        ]
    },
    {
        "id": "2a36a20d7b83ed69",
        "type": "ui_chart",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "c1c3c6b12dccd791",
        "order": 1,
        "width": "6",
        "height": "3",
        "label": "Vakuumpumpe 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "70600d4118d447a5",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "c1c3c6b12dccd791",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temp 5",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "993c0e7130fa0458",
        "type": "ui_gauge",
        "z": "8e6f93d6c1999015",
        "name": "",
        "group": "c1c3c6b12dccd791",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temp 6",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 940,
        "wires": []
    },
    {
        "id": "1bb31b011b1278c7",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 7",
        "item": "15",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "70600d4118d447a5"
            ]
        ]
    },
    {
        "id": "49b072bed68759d6",
        "type": "cmi in",
        "z": "8e6f93d6c1999015",
        "cmi": "ef6702f2eebd5bef",
        "name": "Temp 8",
        "item": "16",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "993c0e7130fa0458"
            ]
        ]
    },
    {
        "id": "44734ecb313db565",
        "type": "ui_text",
        "z": "61d663c65d5d04a2",
        "group": "1591b6c7b8497e57",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Überdruckvetil WP1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "87be1f3f2b0360b2",
        "type": "ui_text",
        "z": "61d663c65d5d04a2",
        "group": "1591b6c7b8497e57",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messzeit WP1",
        "format": "{{msg.payload}} Sek",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "f563ef869b6642b1",
        "type": "ui_text",
        "z": "61d663c65d5d04a2",
        "group": "1591b6c7b8497e57",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Druckverlust WP1",
        "format": "{{msg.payload}} mbar",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "668723cb7ac53144",
        "type": "ui_text",
        "z": "61d663c65d5d04a2",
        "group": "1591b6c7b8497e57",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Seriennummer 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "7faf11fff9ca8b96",
        "type": "cmi in",
        "z": "61d663c65d5d04a2",
        "cmi": "ef6702f2eebd5bef",
        "name": "Überdruckventil 1",
        "item": "3",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "44734ecb313db565",
                "ea6d59356ce914d4"
            ]
        ]
    },
    {
        "id": "38eee3690a5c708f",
        "type": "cmi in",
        "z": "61d663c65d5d04a2",
        "cmi": "ef6702f2eebd5bef",
        "name": "SN 1",
        "item": "17",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "668723cb7ac53144",
                "4776defa8873253a"
            ]
        ]
    },
    {
        "id": "4947b6e5851162dd",
        "type": "cmi in",
        "z": "61d663c65d5d04a2",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 2",
        "item": "2",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "e4483f25e9b66328",
                "639fb3a6663fcca4",
                "4bc8682f170a30c9"
            ]
        ]
    },
    {
        "id": "76ed89e23b46d303",
        "type": "function",
        "z": "61d663c65d5d04a2",
        "name": "Data prepare",
        "func": "console.log(\"Serialnumber: \" + msg.serialnumber);\nconsole.log(\"Pressure: \" + msg.pressure);\nconsole.log(\"Valve: \" + msg.valve);\n\n// Tároljuk el az előző serialnumber-t a context-ben\ncontext.previousSerialNumber = context.previousSerialNumber || null;\n\n// Ellenőrizzük, hogy a serialnumber változott-e\nif (msg.serialnumber !== context.previousSerialNumber) {\n  // Ha változott, akkor beállítjuk a flag-et és frissítjük az előző serialnumber-t\n  msg.serialnumber_changed = true;\n  context.previousSerialNumber = msg.serialnumber;\n} else {\n  msg.serialnumber_changed = false; // Ha nem változott, ne legyen true\n}\n\n// Tároljuk el az előző nyomásértéket a context-ben\ncontext.previousPressure = context.previousPressure || null;\n\nvar pressure = msg.pressure;\n\nvar valve = msg.valve;\n\nif (pressure === undefined || pressure === null || isNaN(pressure)) {\n  console.error(\"Nem található vagy érvénytelen nyomásérték a msg.payload-ban: \" + pressure);\n  // Ha nincs érvényes nyomásérték, használjuk az előzőt, ha van\n  pressure = context.previousPressure !== null ? context.previousPressure : 0;\n} else {\n  // Ha van érvényes nyomásérték, frissítsük az előzőt\n  context.previousPressure = pressure;\n}\n\nvar date = new Date(); // Aktuális dátum és idő\nvar formattedDate = date.toLocaleDateString(\"de-DE\"); // Dátum formázása magyar lokalizáció szerint (éééé.hh.nn.)\nvar formattedTime = date.toLocaleTimeString(\"de-DE\"); // Idő formázása magyar lokalizáció szerint (óó:pp:mm)\nvar timestamp = formattedDate + \" \" + formattedTime; // Dátum és idő kombinálása\n\ncontext.data = context.data || [];\n\ncontext.data.push({\n  timestamp: timestamp,\n  pressure: pressure\n});\n\nvar csv = \"Timestamp;Pressure\\n\";\ncontext.data.forEach(function (item) {\n  csv += item.timestamp + \";\" + item.pressure + \"\\n\";\n});\n\nvar newMsg = { ...msg };\nnewMsg.payload = csv;\n\n// Ellenőrizzük, hogy a serialnumber létezik-e és nem undefined\nif (msg.serialnumber !== undefined && msg.serialnumber !== null) {\n  var fileName = \"sn\" + msg.serialnumber + \"_pressure_loss.csv\";\n  var filePath = \"/home/ovum/\" + fileName;\n  newMsg.filename = filePath;\n  return newMsg; // Csak akkor küldjük tovább az üzenetet, ha van serialnumber\n} else {\n  console.error(\"A msg.serialnumber undefined vagy null. Fájlmentés kihagyva.\");\n  return null; // Ne küldjünk tovább üzenetet, ha nincs serialnumber\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 160,
        "wires": [
            [
                "49c561fd45d99556",
                "be35c3dcf73d0e4a",
                "b5036735a370d589"
            ]
        ]
    },
    {
        "id": "49c561fd45d99556",
        "type": "file",
        "z": "61d663c65d5d04a2",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "958aa64d4e478396"
            ]
        ]
    },
    {
        "id": "e4483f25e9b66328",
        "type": "change",
        "z": "61d663c65d5d04a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pressure",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "26902db07b997b26"
            ]
        ]
    },
    {
        "id": "639fb3a6663fcca4",
        "type": "ui_chart",
        "z": "61d663c65d5d04a2",
        "name": "",
        "group": "1591b6c7b8497e57",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Druck WP1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "15",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4776defa8873253a",
        "type": "change",
        "z": "61d663c65d5d04a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serialnumber",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "serialnumber",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "26902db07b997b26"
            ]
        ]
    },
    {
        "id": "26902db07b997b26",
        "type": "join",
        "z": "61d663c65d5d04a2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 790,
        "y": 160,
        "wires": [
            [
                "76ed89e23b46d303"
            ]
        ]
    },
    {
        "id": "958aa64d4e478396",
        "type": "debug",
        "z": "61d663c65d5d04a2",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 160,
        "wires": []
    },
    {
        "id": "ea6d59356ce914d4",
        "type": "change",
        "z": "61d663c65d5d04a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "valve",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "76ed89e23b46d303"
            ]
        ]
    },
    {
        "id": "5f9474b7153f5ee9",
        "type": "ui_chart",
        "z": "61d663c65d5d04a2",
        "name": "",
        "group": "4b87de5b15c38c06",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Leer",
        "dot": false,
        "ymin": "-100.0",
        "ymax": "100.0",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4bc8682f170a30c9",
        "type": "debug",
        "z": "61d663c65d5d04a2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "b5036735a370d589",
        "type": "function",
        "z": "61d663c65d5d04a2",
        "name": "function 1",
        "func": "const csvString = msg.payload;\nconst lines = csvString.split('\\n');\nconst dataPoints = [];\nconst timestamp = msg.timestamp; // Alap időbélyeg\n\nfor (let i = 1; i < lines.length; i++) {\n    const line = lines[i];\n    if (line.trim() !== \"\") {\n        const values = line.split(';');\n        if (values.length === 2) {\n            const pressureValue = parseFloat(values[1]);\n            if (!isNaN(pressureValue)) {\n                dataPoints.push({\n                    x: timestamp + i * 1000, // Időbélyeg hozzáadása (1 másodperces lépésekkel)\n                    y: pressureValue\n                });\n            }\n        }\n    }\n}\n\nmsg.payload = {\n    \"series\": [\"Pressure\"],\n    \"data\": [dataPoints],\n    \"labels\": [\"Pressure\"]\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "5f9474b7153f5ee9",
                "4ba2f501fe15c8ff"
            ]
        ]
    },
    {
        "id": "4ba2f501fe15c8ff",
        "type": "debug",
        "z": "61d663c65d5d04a2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 280,
        "wires": []
    },
    {
        "id": "be35c3dcf73d0e4a",
        "type": "debug",
        "z": "61d663c65d5d04a2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    },
    {
        "id": "d1cc9fe6fa6256ff",
        "type": "inject",
        "z": "61d663c65d5d04a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 240,
        "wires": [
            [
                "76ed89e23b46d303"
            ]
        ]
    },
    {
        "id": "9bb7bdb1eae4948e",
        "type": "ui_text",
        "z": "cb52c966d2fad605",
        "group": "de078532d6f5e387",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Seriennummer 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "0913bfd313b2f67c",
        "type": "ui_text",
        "z": "cb52c966d2fad605",
        "group": "de078532d6f5e387",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Überdruckvetil WP2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "730d51ad838c3289",
        "type": "ui_text",
        "z": "cb52c966d2fad605",
        "group": "de078532d6f5e387",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messzeit WP2",
        "format": "{{msg.payload}} Sek",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "3be77a102f31d277",
        "type": "ui_text",
        "z": "cb52c966d2fad605",
        "group": "de078532d6f5e387",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Druckverlust WP2",
        "format": "{{msg.payload}} mbar",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "244d8d9f6e6c67f4",
        "type": "ui_chart",
        "z": "cb52c966d2fad605",
        "name": "",
        "group": "de078532d6f5e387",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Druck WP2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1f0472a9c58261f4",
        "type": "cmi in",
        "z": "cb52c966d2fad605",
        "cmi": "ef6702f2eebd5bef",
        "name": "Überdruckventil 2",
        "item": "6",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "0913bfd313b2f67c"
            ]
        ]
    },
    {
        "id": "32cc5769a07388cf",
        "type": "cmi in",
        "z": "cb52c966d2fad605",
        "cmi": "ef6702f2eebd5bef",
        "name": "SN 2",
        "item": "18",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "9bb7bdb1eae4948e"
            ]
        ]
    },
    {
        "id": "0dac9e1e9ba2ace0",
        "type": "cmi in",
        "z": "cb52c966d2fad605",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 4",
        "item": "4",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "244d8d9f6e6c67f4"
            ]
        ]
    },
    {
        "id": "12bbbd87a10398fa",
        "type": "ui_text",
        "z": "f820c1bd7223bd88",
        "group": "422ba1667a7ab9f8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Seriennummer 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c0c38adf570a5e0",
        "type": "ui_text",
        "z": "f820c1bd7223bd88",
        "group": "422ba1667a7ab9f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Überdruckvetil WP3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "6a317b620df64d1c",
        "type": "ui_text",
        "z": "f820c1bd7223bd88",
        "group": "422ba1667a7ab9f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messzeit WP3",
        "format": "{{msg.payload}} Sek",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "371420ab9311d8d9",
        "type": "ui_text",
        "z": "f820c1bd7223bd88",
        "group": "422ba1667a7ab9f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Druckverlust WP3",
        "format": "{{msg.payload}} mbar",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "04b283f4a235b802",
        "type": "ui_chart",
        "z": "f820c1bd7223bd88",
        "name": "",
        "group": "422ba1667a7ab9f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Druck WP3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "57fc2ea8d083fcca",
        "type": "cmi in",
        "z": "f820c1bd7223bd88",
        "cmi": "ef6702f2eebd5bef",
        "name": "Überdruckventil 3",
        "item": "9",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "2c0c38adf570a5e0"
            ]
        ]
    },
    {
        "id": "0edd0311de268fe6",
        "type": "cmi in",
        "z": "f820c1bd7223bd88",
        "cmi": "ef6702f2eebd5bef",
        "name": "SN 3",
        "item": "19",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "12bbbd87a10398fa"
            ]
        ]
    },
    {
        "id": "a3b9352113447f8d",
        "type": "cmi in",
        "z": "f820c1bd7223bd88",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 6",
        "item": "6",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "04b283f4a235b802"
            ]
        ]
    },
    {
        "id": "bc0279d6d6d66c7a",
        "type": "ui_text",
        "z": "28c240172645bd4e",
        "group": "f31df9e398e4c15e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Messzeit WP4",
        "format": "{{msg.payload}} Sek",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "7fb0ee86dd7afcef",
        "type": "ui_text",
        "z": "28c240172645bd4e",
        "group": "f31df9e398e4c15e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Druckverlust WP4",
        "format": "{{msg.payload}} mbar",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "b2c11f424328c412",
        "type": "ui_text",
        "z": "28c240172645bd4e",
        "group": "f31df9e398e4c15e",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Seriennummer 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "89644dc73fa4bfb2",
        "type": "ui_text",
        "z": "28c240172645bd4e",
        "group": "f31df9e398e4c15e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Überdruckvetil WP4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "153d8ec83f3e3c6a",
        "type": "ui_chart",
        "z": "28c240172645bd4e",
        "name": "",
        "group": "f31df9e398e4c15e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Druck WP4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1000",
        "ymax": "0",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "597d947bf4559845",
        "type": "cmi in",
        "z": "28c240172645bd4e",
        "cmi": "ef6702f2eebd5bef",
        "name": "SN 4",
        "item": "20",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "b2c11f424328c412"
            ]
        ]
    },
    {
        "id": "74556f2b70a61e63",
        "type": "cmi in",
        "z": "28c240172645bd4e",
        "cmi": "ef6702f2eebd5bef",
        "name": "Überdruckvetil 4",
        "item": "12",
        "source": "1",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "89644dc73fa4bfb2"
            ]
        ]
    },
    {
        "id": "07e66188b631010a",
        "type": "cmi in",
        "z": "28c240172645bd4e",
        "cmi": "ef6702f2eebd5bef",
        "name": "Pressure 8",
        "item": "8",
        "source": "0",
        "timestamp": "0",
        "skip": "0",
        "severity": "0",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "153d8ec83f3e3c6a"
            ]
        ]
    },
    {
        "id": "20fc8a44f4200a3c",
        "type": "http in",
        "z": "fe54917cf124892f",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "37aedfdef5057ab8"
            ]
        ]
    },
    {
        "id": "7cdc230a7ef11bb1",
        "type": "http response",
        "z": "fe54917cf124892f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "37aedfdef5057ab8",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Get the file name",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "49cc644baab454d4"
            ]
        ],
        "outputLabels": [
            "Folder selected"
        ]
    },
    {
        "id": "49cc644baab454d4",
        "type": "file in",
        "z": "fe54917cf124892f",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "596acfb88bb2117c"
            ]
        ]
    },
    {
        "id": "596acfb88bb2117c",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 600,
        "wires": [
            [
                "7cdc230a7ef11bb1"
            ]
        ]
    },
    {
        "id": "3557605b12a7d131",
        "type": "ui_etable",
        "z": "fe54917cf124892f",
        "payload": "[{\"title\":\"Type\",\"field\":\"icon\",\"formatter\":\"html\",\"width\":50},{\"title\":\"Name\",\"field\":\"fname\"},{\"title\":\"Size\",\"field\":\"stat.size\",\"sorter\":\"number\",\"width\":100,\"sorterParams\":{\"thousandSeparator\":\",\",\"decimalSeparator\":\".\",\"alignEmptyValues\":\"top\"}},{\"title\":\"Created\",\"field\":\"stat.created\",\"formatter\":\"datetime\",\"width\":200,\"formatterParams\":{\"outputFormat\":\"yyyy.MM.DD HH:mm:ss\",\"invalidPlaceholder\":\"(invalid date)\",\"timezone\":\"system\"}},{\"title\":\"Changed\",\"field\":\"stat.changed\",\"formatter\":\"datetime\",\"width\":200,\"formatterParams\":{\"outputFormat\":\"yyyy.MM.DD HH:mm:ss\",\"invalidPlaceholder\":\"(invalid date)\",\"timezone\":\"system\"}}]",
        "payloadType": "json",
        "options": "{\"movableColumns\":true,\"resizableColumns\":true,\"selectable\":1,\"responsiveLayout\":\"collapse\",\"autoResize\":true,\"layout\":\"fitColumns\",\"pagination\":\"local\",\"height\":\"100%\"}",
        "group": "7c3d1ffe5de85af4",
        "name": "File Browser",
        "order": 6,
        "width": "18",
        "height": "10",
        "columns": [],
        "outputs": 1,
        "cts": false,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "8a9563fc8d848d29",
                "bc7344cb912e3914",
                "d1b51e6221d81c9e",
                "7cea2f877f87e3ca"
            ]
        ]
    },
    {
        "id": "194a8077e4c8311b",
        "type": "comment",
        "z": "fe54917cf124892f",
        "name": "New File Browser",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "4c62104c10c20ebd",
        "type": "inject",
        "z": "fe54917cf124892f",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "change",
        "payload": "filebrowser_default_folder",
        "payloadType": "global",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "179b082f62a7823e",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Folder handling",
        "func": "let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nflow.set(\"folder\", folder);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "827f29b462e2e049",
                "5e41127cc0347f3a"
            ]
        ]
    },
    {
        "id": "827f29b462e2e049",
        "type": "fs-file-lister",
        "z": "fe54917cf124892f",
        "name": "Files",
        "start": "/home/ovum",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "both",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "09aeec3a5a2b5b59",
                "5caa1aeabee2f1f9"
            ]
        ]
    },
    {
        "id": "09aeec3a5a2b5b59",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Prep Data",
        "func": "function convertDate(local) {\n    let d = new Date(local);\n    d.setTime(d.getTime()+3600*1000);\n    return d.toISOString().slice(0, 19).replace('T', ' ');\n}\n\nif (msg.topic === \"quickfilter\") {\n    let filter = msg.payload;\n    msg.payload = flow.get(\"currentfolder\").slice();\n    if (msg.payload !== \"\") {\n        for (var i = msg.payload.length-1; i >= 0; i--) {\n            if (!msg.payload[i].fname.includes(filter)) {\n                msg.payload.splice(i,1);\n            }\n        }\n    }\n    return msg;\n}\n\nfor (var i=0; i<msg.payload.length; i++) {\n   // msg.payload[i].stat.created = convertDate(msg.payload[i].stat.created);\n   // msg.payload[i].stat.changed = convertDate(msg.payload[i].stat.changed);\n   // msg.payload[i].stat.accessed = convertDate(msg.payload[i].stat.accessed);\n   // msg.payload[i].stat.statusChanged = convertDate(msg.payload[i].stat.statusChanged);\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n    if (msg.payload[i].stat.isDirectory) {\n        msg.payload[i].ext = \"folder\";\n        msg.payload[i].icon = \"<i class=\\\"fa fa-folder-o\\\"></i>\";\n    } else {\n        msg.payload[i].ext = msg.payload[i].fname.split('.').pop().toLowerCase();\n        msg.payload[i].downloadlink = \"/download?filename=\"+msg.payload[i].name;\n        switch (msg.payload[i].ext) {\n            case \"csv\":\n            case \"txt\":\n                msg.payload[i].icon = \"<i class=\\\"fa fa-file-text-o\\\"></i>\";\n                break;\n            case \"jpg\":\n            case \"jpeg\":\n            case \"png\":\n            case \"gif\":\n                msg.payload[i].icon = \"<i class=\\\"fa fa-file-image-o\\\"></i>\";\n                break;\n            case \"json\":\n            case \"py\":\n            case \"sh\":\n                msg.payload[i].icon = \"<i class=\\\"fa fa-file-code-o\\\"></i>\";\n                break;\n            default:\n                msg.payload[i].icon = \"<i class=\\\"fa fa-file-o\\\"></i>\";\n        }\n    }\n}\nflow.set(\"currentfolder\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "3557605b12a7d131"
            ]
        ]
    },
    {
        "id": "8e4c80e74dd159df",
        "type": "inject",
        "z": "fe54917cf124892f",
        "name": "Default folder",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "/home/ovum",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "fc30aa4c18c7df42"
            ]
        ]
    },
    {
        "id": "fc30aa4c18c7df42",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Store settings",
        "rules": [
            {
                "t": "set",
                "p": "filebrowser_default_folder",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7b08539945ca0580",
        "type": "ui_button",
        "z": "fe54917cf124892f",
        "name": "",
        "group": "7c3d1ffe5de85af4",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "69cc6a3c0f83db35",
        "type": "ui_button",
        "z": "fe54917cf124892f",
        "name": "",
        "group": "b9eaf4515438b94a",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "delete",
        "topicType": "str",
        "x": 990,
        "y": 300,
        "wires": [
            [
                "7cea2f877f87e3ca"
            ]
        ]
    },
    {
        "id": "6c0c6411100d451e",
        "type": "ui_button",
        "z": "fe54917cf124892f",
        "name": "",
        "group": "7c3d1ffe5de85af4",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "up",
        "topicType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "7e8663eb65cd0342",
        "type": "ui_button",
        "z": "fe54917cf124892f",
        "name": "",
        "group": "7c3d1ffe5de85af4",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "autorenew",
        "payload": "filebrowser_default_folder",
        "payloadType": "global",
        "topic": "change",
        "topicType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "8c7e8e61c5ff7315",
        "type": "ui_switch",
        "z": "fe54917cf124892f",
        "name": "",
        "label": "Hidden",
        "tooltip": "Show hidden files or not",
        "group": "7c3d1ffe5de85af4",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "eaa1b785a82474e8",
        "type": "ui_template",
        "z": "fe54917cf124892f",
        "group": "b9eaf4515438b94a",
        "name": "File Preview",
        "order": 3,
        "width": "10",
        "height": "11",
        "format": "<div ng-bind-html=\"msg.payload\" height=\"100%\" style=\"height: 100%;\"><br/>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8a9563fc8d848d29",
        "type": "ui_text",
        "z": "fe54917cf124892f",
        "group": "b9eaf4515438b94a",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "Filename",
        "label": "",
        "format": "{{msg.payload.fname}}",
        "layout": "row-left",
        "className": "",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc7344cb912e3914",
        "type": "switch",
        "z": "fe54917cf124892f",
        "name": "File type",
        "property": "payload.ext",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "csv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "txt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "json",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sh",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "py",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "jpg",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "jpeg",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "png",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gif",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "46193b8e97173164"
            ],
            [
                "46193b8e97173164"
            ],
            [
                "46193b8e97173164"
            ],
            [
                "46193b8e97173164"
            ],
            [
                "46193b8e97173164"
            ],
            [
                "a97a0941fe188d60"
            ],
            [
                "a97a0941fe188d60"
            ],
            [
                "a97a0941fe188d60"
            ],
            [
                "a97a0941fe188d60"
            ],
            [
                "6ae3b5a5d657f2f8"
            ]
        ]
    },
    {
        "id": "46193b8e97173164",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Get the file name",
        "func": "if (msg.payload.stat.size<200000) {\n    msg.filename = msg.payload.name;\n    return [msg,null];\n} else {\n    return [null,msg];  \n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "4160aa2b7abcd767"
            ],
            [
                "ec346886c2c98b9b"
            ]
        ],
        "outputLabels": [
            "Folder selected",
            ""
        ]
    },
    {
        "id": "4160aa2b7abcd767",
        "type": "file in",
        "z": "fe54917cf124892f",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "6ddfe0872aa55cab"
            ]
        ]
    },
    {
        "id": "6ddfe0872aa55cab",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Div text",
        "func": "function HTMLEncode(str) {\n    var i = str.length,\n        aRet = [];\n\n    while (i--) {\n        var iC = str[i].charCodeAt();\n        if (iC < 65 || iC > 127 || (iC > 90 && iC < 97)) {\n            aRet[i] = '&#' + iC + ';';\n        } else {\n            aRet[i] = str[i];\n        }\n    }\n    return aRet.join('');\n}\n\nlet text = \"<div>\";\nlet filecontent = \"\";\nfilecontent += msg.payload;\n\nfilecontent = HTMLEncode(filecontent);\n\n// Convert line feed to <br>\nfilecontent = filecontent.replace(/(?:\\r\\n|\\r|\\n)/g, '<br/>');\n\n\n\ntext += filecontent;\ntext += \"</div>\";\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 400,
        "wires": [
            [
                "eaa1b785a82474e8"
            ]
        ]
    },
    {
        "id": "a97a0941fe188d60",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Get the file name",
        "func": "if (msg.payload.stat.size < 2000000) {\n    msg.filename = msg.payload.name;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "182a576703b2ab2c"
            ],
            [
                "ec346886c2c98b9b"
            ]
        ],
        "outputLabels": [
            "Folder selected",
            ""
        ]
    },
    {
        "id": "182a576703b2ab2c",
        "type": "file in",
        "z": "fe54917cf124892f",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 780,
        "y": 480,
        "wires": [
            [
                "535c68cb1d7c59eb"
            ]
        ]
    },
    {
        "id": "935e46db35cd8696",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Div image",
        "func": "let text = \"<img src=\\\"data:image/png;base64,\";\ntext += msg.payload;\ntext += \"\\\" width=\\\"100%\\\"/>\";\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 480,
        "wires": [
            [
                "eaa1b785a82474e8"
            ]
        ]
    },
    {
        "id": "535c68cb1d7c59eb",
        "type": "base64",
        "z": "fe54917cf124892f",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "935e46db35cd8696"
            ]
        ]
    },
    {
        "id": "d1b51e6221d81c9e",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Change folder",
        "func": "\nif (msg.payload.stat.isDirectory) {\n\n    msg.topic = \"change\";\n    msg.payload = msg.payload.name;\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "5e41127cc0347f3a",
        "type": "ui_text",
        "z": "fe54917cf124892f",
        "group": "7c3d1ffe5de85af4",
        "order": 4,
        "width": "9",
        "height": "1",
        "name": "",
        "label": "Folder:",
        "format": "{{msg.payload.start}}",
        "layout": "row-left",
        "className": "",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "7cea2f877f87e3ca",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Handle file actions",
        "func": "switch (msg.topic) {\n    case (\"delete\"):\n        msg.file = context.get(\"lastfile\");\n        if (msg.file!==undefined) {\n            msg.filename = msg.file.name;\n            return [msg,null];\n        }\n        break;\n    case (\"download\"):\n        msg.file = context.get(\"lastfile\");\n        if (msg.file !== undefined) {\n            //msg.template = \"<script>window.location.href = \\\"/download?filename=\"+msg.file.name+\"\\\";</script>\";\n            msg.template = \"<script>window.open('/download?filename=\" + encodeURIComponent(msg.file.name) + \"', '_blank');</script>\";\n            return [null, msg];\n        }\n        break;\n    default:\n        context.set(\"lastfile\", msg.payload);\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "67b42c09f58f2a25"
            ],
            [
                "e4de1ad0101079c4"
            ]
        ]
    },
    {
        "id": "67b42c09f58f2a25",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Set message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Delete confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Are you sure you want to delete this file?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 300,
        "wires": [
            [
                "05edb6e023888c9e"
            ]
        ]
    },
    {
        "id": "05edb6e023888c9e",
        "type": "ui_toast",
        "z": "fe54917cf124892f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "topic": "",
        "name": "Confirmation",
        "x": 1590,
        "y": 300,
        "wires": [
            [
                "cdb520329fcbd02e"
            ]
        ]
    },
    {
        "id": "cdb520329fcbd02e",
        "type": "switch",
        "z": "fe54917cf124892f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1750,
        "y": 300,
        "wires": [
            [
                "d104e5fd4ef54ede"
            ]
        ]
    },
    {
        "id": "d104e5fd4ef54ede",
        "type": "file",
        "z": "fe54917cf124892f",
        "name": "Delete file",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 1900,
        "y": 300,
        "wires": [
            [
                "35c8d1a91b41682a"
            ]
        ]
    },
    {
        "id": "35c8d1a91b41682a",
        "type": "link out",
        "z": "fe54917cf124892f",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "eed2521a12aabc7b"
        ],
        "x": 2015,
        "y": 300,
        "wires": []
    },
    {
        "id": "eed2521a12aabc7b",
        "type": "link in",
        "z": "fe54917cf124892f",
        "name": "Refresh File List",
        "links": [
            "35c8d1a91b41682a"
        ],
        "x": 165,
        "y": 360,
        "wires": [
            [
                "179b082f62a7823e"
            ]
        ]
    },
    {
        "id": "6ae3b5a5d657f2f8",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Div text",
        "func": "msg.payload = \"<div>No preview available</div>\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 540,
        "wires": [
            [
                "eaa1b785a82474e8"
            ]
        ]
    },
    {
        "id": "e4de1ad0101079c4",
        "type": "ui_template",
        "z": "fe54917cf124892f",
        "group": "b9eaf4515438b94a",
        "name": "",
        "order": 18,
        "width": 0,
        "height": 0,
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f6648be4a898f98c",
        "type": "ui_button",
        "z": "fe54917cf124892f",
        "name": "",
        "group": "b9eaf4515438b94a",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Download",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "file_download",
        "payload": "",
        "payloadType": "str",
        "topic": "download",
        "topicType": "str",
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "7cea2f877f87e3ca"
            ]
        ]
    },
    {
        "id": "ec346886c2c98b9b",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "File too big",
        "func": "msg.payload = \"<div>File too large for preview</div>\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 440,
        "wires": [
            [
                "eaa1b785a82474e8"
            ]
        ]
    },
    {
        "id": "69b87840a116af60",
        "type": "ui_button",
        "z": "fe54917cf124892f",
        "name": "",
        "group": "7c3d1ffe5de85af4",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Download All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "file_download",
        "payload": "",
        "payloadType": "str",
        "topic": "download_all",
        "topicType": "str",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "cad526a5087b8c17"
            ]
        ]
    },
    {
        "id": "cad526a5087b8c17",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Sure?",
        "func": "let folder = flow.get(\"currentfolder\");\nlet count = 0;\nlet total = 0;\n\nif (folder===undefined) {\n    return;\n}\n\nfor (var i = 0; i < folder.length; i++) {\n    if (folder[i].stat.isFile) {\n        count++\n        total+=folder[i].stat.size;\n    } \n}\n\nmsg.topic=\"Download all files?\"\nmsg.payload = \"This will zip \" + count + \" file(s) in this folder with a total size of \" + total.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\")+\" bytes. Are you sure?\";\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 660,
        "wires": [
            [
                "cb68563af8c8e311"
            ]
        ]
    },
    {
        "id": "cb68563af8c8e311",
        "type": "ui_toast",
        "z": "fe54917cf124892f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Confirmation",
        "x": 510,
        "y": 660,
        "wires": [
            [
                "b24ec3db606a1cbe"
            ]
        ]
    },
    {
        "id": "b24ec3db606a1cbe",
        "type": "switch",
        "z": "fe54917cf124892f",
        "name": "Yes?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 660,
        "wires": [
            [
                "c9f7a9a65bf09a87"
            ]
        ]
    },
    {
        "id": "c9f7a9a65bf09a87",
        "type": "function",
        "z": "fe54917cf124892f",
        "name": "Zip command",
        "func": "let folder = flow.get(\"folder\");\n\n// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nlet filename = folder.match(/([^\\/]*)\\/*$/)[1]+\"_\" + yyyy + mm + dd + hh + mmm+ss+\".zip\";\nlet filepath = folder + \"/\" + filename;\n\nmsg.save = {\"name\": filepath, \"fname\": filename };\n\nmsg.payload = \"zip \" + filepath+\" \"+folder+\"/*.*\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 660,
        "wires": [
            [
                "f8ff35c664e0633f"
            ]
        ]
    },
    {
        "id": "f8ff35c664e0633f",
        "type": "exec",
        "z": "fe54917cf124892f",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Execute zip",
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "512acbb703e0e8c3"
            ],
            [],
            []
        ]
    },
    {
        "id": "020e593008574c70",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Get zip details",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "save",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 620,
        "wires": [
            [
                "8a9563fc8d848d29",
                "7cea2f877f87e3ca"
            ]
        ]
    },
    {
        "id": "512acbb703e0e8c3",
        "type": "switch",
        "z": "fe54917cf124892f",
        "name": "Success?",
        "property": "rc.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1220,
        "y": 640,
        "wires": [
            [
                "020e593008574c70",
                "ba88a7d22f4dfc03"
            ],
            [
                "5ee1ccb527981c93"
            ]
        ]
    },
    {
        "id": "ba88a7d22f4dfc03",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Notification",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Zip file containing all files in this folder has been generated. Click on Download above.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 660,
        "wires": [
            [
                "eaa1b785a82474e8"
            ]
        ]
    },
    {
        "id": "5ee1ccb527981c93",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Failed notification",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Download all failed!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Download All",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 700,
        "wires": [
            [
                "5bcf25f22298681c"
            ]
        ]
    },
    {
        "id": "5bcf25f22298681c",
        "type": "ui_toast",
        "z": "fe54917cf124892f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1650,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "442a856796f14a64",
        "type": "ui_text_input",
        "z": "fe54917cf124892f",
        "name": "",
        "label": "Filter:",
        "tooltip": "",
        "group": "7c3d1ffe5de85af4",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "quickfilter",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "09aeec3a5a2b5b59"
            ]
        ]
    },
    {
        "id": "5caa1aeabee2f1f9",
        "type": "change",
        "z": "fe54917cf124892f",
        "name": "Empty",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "442a856796f14a64"
            ]
        ]
    },
    {
        "id": "782b06fb.cc1df8",
        "type": "comment",
        "z": "0434627783d5f543",
        "name": "Auto Logger archiving",
        "info": "Generate file name that are to be archived.\n\nIdea is that this generates a list of file names for let's say between current day-5 days to current day-10 days, so all files that are 5-10 days old will get archived. And this can be executed daily or weekly, and the interval allows some overlap (e.g. the program fails, Node-Red was down, etc.)\n\nInject node should contain a JSON:\n{    \n    \"start\": 20,    \n    \"end\": 10\n}\n\nThis will generate file names D-20 to D-10 days.\nStart should be greather than end!\n",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "f14e2f71.1ad87",
        "type": "function",
        "z": "0434627783d5f543",
        "name": "Maplin Filename generator",
        "func": "let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/home/pi/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "5ba61ce5.11d8a4"
            ]
        ]
    },
    {
        "id": "b57ab78e.cf1658",
        "type": "function",
        "z": "0434627783d5f543",
        "name": "Weather Station Filename generator",
        "func": "let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"weather_sensor_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/home/pi/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "5ba61ce5.11d8a4"
            ]
        ]
    },
    {
        "id": "5e47f3b4.7c779c",
        "type": "inject",
        "z": "0434627783d5f543",
        "name": "Start",
        "props": [
            {
                "p": "payload",
                "v": "{\"start\":20,\"end\":10}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "40 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"start\":20,\"end\":10}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "f14e2f71.1ad87",
                "b57ab78e.cf1658"
            ]
        ]
    },
    {
        "id": "ad87fee.c53d5",
        "type": "exec",
        "z": "0434627783d5f543",
        "command": "/home/pi/log_upload.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "File upload",
        "x": 770,
        "y": 180,
        "wires": [
            [],
            [],
            [
                "5f0f09f4.a09208"
            ]
        ]
    },
    {
        "id": "5f0f09f4.a09208",
        "type": "switch",
        "z": "0434627783d5f543",
        "name": "Return code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 280,
        "wires": [
            [],
            [
                "639dcab5.1028b4"
            ]
        ]
    },
    {
        "id": "49210be0.0dbbe4",
        "type": "exec",
        "z": "0434627783d5f543",
        "command": "sudo rm ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "File delete",
        "x": 1250,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "1fee1de5.695e32"
            ]
        ]
    },
    {
        "id": "639dcab5.1028b4",
        "type": "change",
        "z": "0434627783d5f543",
        "name": "Get filename",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "49210be0.0dbbe4"
            ]
        ]
    },
    {
        "id": "1fee1de5.695e32",
        "type": "switch",
        "z": "0434627783d5f543",
        "name": "Return code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1410,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ba61ce5.11d8a4",
        "type": "delay",
        "z": "0434627783d5f543",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "ad87fee.c53d5"
            ]
        ]
    },
    {
        "id": "9da5c02.66c844",
        "type": "comment",
        "z": "0434627783d5f543",
        "name": "log_upload.sh",
        "info": "ftp -inv 192.168.1.x << EOF\n    user <username> <password>\n    binary\n    cd backup/logs\n    lcd /home/pi/datalog\n    put $1\nEOF",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "f79c29b7.055068",
        "type": "comment",
        "z": "0434627783d5f543",
        "name": "Auto Logger",
        "info": "",
        "x": 190,
        "y": 460,
        "wires": []
    },
    {
        "id": "4c8ae605.33be88",
        "type": "function",
        "z": "0434627783d5f543",
        "name": "Set data",
        "func": "var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : msg.msg433.TEMP,\n    \"humidity\" : msg.msg433.HUM\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "f46f569e.ff1a08"
            ]
        ]
    },
    {
        "id": "f46f569e.ff1a08",
        "type": "function",
        "z": "0434627783d5f543",
        "name": "Filename generator",
        "func": "// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/datalog/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 640,
        "wires": [
            [
                "fa6936f.7758dc8"
            ]
        ]
    },
    {
        "id": "fa6936f.7758dc8",
        "type": "fs-file-lister",
        "z": "0434627783d5f543",
        "name": "",
        "start": "/home/pi/datalog/",
        "pattern": "",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "a96494a5.b0f4c8",
                "3db97537.b889ea"
            ]
        ]
    },
    {
        "id": "a96494a5.b0f4c8",
        "type": "debug",
        "z": "0434627783d5f543",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "3db97537.b889ea",
        "type": "switch",
        "z": "0434627783d5f543",
        "name": "",
        "property": "$count(msg.payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "3cb887e8.e533a8"
            ],
            [
                "f3ba1c7a.54ef5"
            ]
        ]
    },
    {
        "id": "fe6f74d5.674ec8",
        "type": "csv",
        "z": "0434627783d5f543",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity",
        "skip": "0",
        "strings": true,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "3a8ebdf3.772cc2"
            ]
        ]
    },
    {
        "id": "3a8ebdf3.772cc2",
        "type": "file",
        "z": "0434627783d5f543",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f226a86d.9bdfb8",
        "type": "csv",
        "z": "0434627783d5f543",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": false,
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity",
        "skip": "0",
        "strings": true,
        "x": 930,
        "y": 660,
        "wires": [
            [
                "3a8ebdf3.772cc2"
            ]
        ]
    },
    {
        "id": "3cb887e8.e533a8",
        "type": "change",
        "z": "0434627783d5f543",
        "name": "Get file content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filecontent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "fe6f74d5.674ec8"
            ]
        ]
    },
    {
        "id": "f3ba1c7a.54ef5",
        "type": "change",
        "z": "0434627783d5f543",
        "name": "Get file content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filecontent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "f226a86d.9bdfb8"
            ]
        ]
    }
]